[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "dotbot-apt-get"]
	path = dotbot-apt-get
	url = https://github.com/matthewjberger/dotbot-apt-get
[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux
[submodule "wallpapers"]
	path = wallpapers
	url = https://github.com/matthewjberger/wallpapers
